@charset "utf-8";
:root {
    --rg:'NotoSansKRLight', sans-serif;
    --md:'NotoSansKRRegular';
    --sb:'NotoSansKRMedium';
    --bd:'NotoSansKRBold';
}
/* Noto Sans KR */
@font-face{
    font-family:'NotoSansKRLight';
    font-style:normal;
    src:local('Noto Sans Light'), local('NotoSans-Light'), url("//fiximage.10x10.co.kr/webfont/NotoSansKR-Light.woff") format('woff'), url('//fiximage.10x10.co.kr/webfont/NotoSansKR-Light.ttf') format('truetype');
}
@font-face{
    font-family:'NotoSansKRRegular';
    font-style:normal;
    src:local('Noto Sans Regular'), local('NotoSans-Regular'), url("//fiximage.10x10.co.kr/webfont/NotoSansKR-Regular.woff") format('woff'), url('//fiximage.10x10.co.kr/webfont/NotoSansKR-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'NotoSansKRMedium';
    font-style:normal;
    src:local('Noto Sans Medium'), local('NotoSans-Medium'), url("//fiximage.10x10.co.kr/webfont/NotoSansKR-Medium.woff") format('woff'), url('//fiximage.10x10.co.kr/webfont/NotoSansKR-Medium.ttf') format('truetype');
}
@font-face{
    font-family:'NotoSansKRBold';
    font-style:normal;
    src:local('Noto Sans Bold'), local('NotoSans-Bold'), url("//fiximage.10x10.co.kr/webfont/NotoSansKR-Bold.woff") format('woff'), url('//fiximage.10x10.co.kr/webfont/NotoSansKR-Bold.ttf') format('truetype');
}

*, html, body{margin:0;padding:0;}

header .header{display:flex;align-items: center;justify-content:space-between;padding:15px;border-bottom: 1px solid #f27935;}
header .header h1{font-size:19px;line-height:28px;letter-spacing:-1px;font-family:var(--md);}
header .header button{background:0;border:0;padding:0;text-indent: -9999px;}
header .header button:focus{outline:0;}
header .header .btn_back{width:20px;height:20px;position:relative;}
header .header .btn_back::before{content:'';width:10px;height:10px;position:absolute;left:50%;top:50%;border-right:2px solid #000;border-bottom:2px solid #000;transform:translate(-50%,-50%) rotate(135deg);}
header .header .btn_back::after{content:'';width:15px;height:2px;position:absolute;right:2px;top:50%;transform:translateY(-50%);background:#000}
header .header .btn_close{width:17px;height:17px;position:relative;text-indent:-9999px;}
header .header .btn_close::before,header .btn_close::after{content:'';width:17px;height:2px;position:absolute;left:50%;top:50%;background:#000}
header .header .btn_close:before{transform:translate(-50%,-50%) rotate(-45deg)}
header .header .btn_close:after{transform:translate(-50%,-50%) rotate(45deg)}